.form-outline-box
  %h2.form-title おすすめへ投稿
  = render partial: 'commons/error_messages', locals: {task: @comment}
  .form-box
    = form_with(model: @comment, url: recommend_comments_path(recommend_id: @recommend.id), method: 'post', local: true) do |f|
      .field
        = f.label :content, "コメントの内容"
        %br/
        = f.text_area :content, class: 'text-area'
      .actions
        = f.submit "保存", disable_with: '送信中...', class: 'btn btn-light my-btn'