%h2.title 完了
.page-switch-box
  = link_to todo_tasks_path, class: 'task-link-box click-link', data: {'turbolinks' => false} do
    %span
      %i.far.fa-square
      未完了
  = link_to finish_tasks_path, class: 'task-link-box ', data: {'turbolinks' => false} do
    %span
      %i.far.fa-check-square
      完了
= paginate @finish
= render partial: 'commons/tasks', locals: {tasks: @finish}
= javascript_pack_tag 'dropdown'