%h2.title ブックリスト
.page-switch-box
  = link_to todo_tasks_path, class: 'task-link-box', data: {'turbolinks' => false} do
    %span
      %i.far.fa-check-square
      未完了
  = link_to finish_tasks_path, class: 'task-link-box click-link', data: {'turbolinks' => false} do
    %span
      %i.far.fa-square
      完了
.create-btn-box
  = link_to new_task_path, class: 'my-btn mini create-btn' do
    %i.fas.fa-plus
    %span
    作成
= paginate @todo
= render partial: 'commons/tasks', locals: {tasks: @todo}
= javascript_pack_tag 'dropdown'