.recommend-global-box
  .side-menu-box
    %nav
      %ul.sidelist-ul
        %li.sidelist
          = search_form_for @search do |f|
            .field
              = f.search_field :title_cont, placeholder: '本のタイトルを入力', class: 'search-field'
              = f.submit "検索", class: 'search-btn'
        %li.sidelist いいねランキング
  .recommend-card
    - @search_recommends.each do |recommend|
      .recommend-outline
        .user-info-box
          .recommend-user-icon-box
            = image_tag recommend.user.avatar?, class: 'recommend-user-icon'
          .recommend-username
            = recommend.user.username
          - if current_user.recommends.exists?(id: recommend.id)
            .recommend-edit-box
              %i.fas.fa-ellipsis-h.edit-icon 
              .dropdown-box
                .d-menu
                  = link_to '削除',recommend_path(id: recommend.id), data: {method: 'delete', confirm: '本当に削除してもよろしいですか？'}
        .recommend-box
          - if recommend.image.attached?
            = image_tag recommend.image,class: 'recommend-image'
          .recommend-second-box
            .recommend-title
              = recommend.title
            .recommend-content
              = recommend.content
        .function-box
          .like-btn-box
            - if current_user.likes.exists?(recommend_id: recommend.id)
              = link_to recommend_like_path(recommend_id: recommend.id), method: 'delete' do
                %i.fas.fa-heart.heart-icon.active-heart
            - else
              = link_to recommend_like_path(recommend_id: recommend.id), method: 'post' do
                %i.fas.fa-heart.heart-icon.heart
          .comment-btn-box
            %i.far.fa-comment.comment-icon
    .create-recommend-box
      = link_to new_recommend_path do
        %i.fas.fa-plus-circle.create-recommend-btn

