.recommend-global-box
  .side-menu-box
    %nav
      %ul
        %li
        %li いいねランキング
  .recommend-card
    - @recommends.each do |recommend|
      .recommend-outline
        .user-info-box
          .recommend-user-icon-box
            = image_tag recommend.user.avatar?, class: 'recommend-user-icon'
          .recommend-username
            = recommend.user.username
          .recommend-edit-box
            %i.fas.fa-ellipsis-h.edit-icon 
            .dropdown-box
              .d-menu
                = link_to '削除',recommend_path(id: recommend.id), data: {method: 'delete', confirm: '本当に削除してもよろしいですか？'}
        .recommend-box
          - if recommend.image.attached?
            = image_tag recommend.image,class: 'recommend-image'
          .recommend-second-box
            .recommend-title
              = recommend.title
            .recommend-content
              = recommend.content
        .function-box
          .like-btn-box
            %i.fas.fa-heart.heart-icon
          .comment-btn-box
            %i.far.fa-comment.comment-icon
    .create-recommend-box
      = link_to new_recommend_path do
        %i.fas.fa-plus-circle.create-recommend-btn

