.recommend-global-box
  .side-menu-box
    %nav
      %ul.sidelist-ul
        %li.sidelist
          = search_form_for @search do |f|
            .field
              = f.search_field :title_cont, placeholder: '本のタイトルを入力', class: 'search-field'
              = f.submit "検索", class: 'search-btn'
  .recommend-card
    = render partial: 'commons/recommends', collection: @search_recommends, as: 'recommend'
    = link_to new_recommend_path do
      .create-recommend-box
        %p 投稿
        %i.fas.fa-plus.create-recommend-btn
    = paginate @search_recommends
= javascript_pack_tag 'like'
= javascript_pack_tag 'dropdown'