.recommend-global-box.recommend-show
  .recommend-card
    .recommend-outline{data: {recommend_id: @recommend.id}}
      .user-info-box
        = link_to account_path(id: @recommend.user.id) do
          .recommend-user-box
            .recommend-user-icon-box
              = image_tag @recommend.user.avatar?, class: 'recommend-user-icon'
            .recommend-username
              = @recommend.user.username
        - if current_user.has_recommend?(@recommend)
          .recommend-edit-box
            %i.fas.fa-ellipsis-h.edit-icon 
            .dropdown-box.hidden
              .d-menu-box
                .d-menu
                  = link_to '削除',recommend_path(id: @recommend.id), data: {method: 'delete', confirm: '本当に削除してもよろしいですか？'}
      .recommend-box
        - if @recommend.image.attached?
          = image_tag @recommend.image,class: 'recommend-image'
        .recommend-second-box
          .recommend-title
            = @recommend.title
          .recommend-content
            = @recommend.content
      .function-box
        .like-btn-box
          .active-heart
            %i.fas.fa-heart.heart-icon
          .heart
            %i.far.fa-heart.heart-icon
          .like-count
            = @recommend.likes.count
        .comment-btn-box
          %i.far.fa-comment.comment-icon
          .comment-count
            = @recommend.comments.count
.comment-box
.comment-btn
  コメント追加
.comment-form.hidden
  = text_area_tag :comment_content, '', class: 'comment-text-area', placeholder: 'コメントを入力'
  .add-comment-btn
    コメント追加
= javascript_pack_tag 'like'
= javascript_pack_tag 'comment'
= javascript_pack_tag 'dropdown'
