.profile-box
  .profile-avatar-box
    = image_tag user.avatar? , class: 'profile-avatar'
  .profile-info-box
    .profile-head-box
      .profile-name-box
        = user.username
      .profile-btn-box
        - if current_page?(user_path)
          = link_to '編集', edit_user_registration_path, class:'btn btn-outline-dark'
        - else
          = link_to 'フォロー', root_path, class:'btn btn-outline-dark'
    .user-relation-box
      .follower-box
        120フォロワー
      .following-box
        11フォロー
    .profile-introduction-box
      = user.introduction