.account-box
  .account-avatar-box
    = image_tag user.avatar? , class: 'account-avatar'
  .account-info-box
    .account-head-box
      .account-name-box
        = user.username
      .account-btn-box
        - if %w[user user_favorite_index].any?{ |name| current_page?(send("#{name}_path"))}
          = link_to '編集', edit_user_registration_path, class:'follow-btn'
        - else
          - if current_user.has_followed?(user)
            = link_to 'フォロー解除', account_unfollows_path(account_id: user.id), method: :post, class:'unfollow-btn'
          - else 
            = link_to 'フォロー', account_follows_path(account_id: user.id), method: :post, class:'follow-btn'
    .user-relation-box
      .follower-box
        %p
          フォロワー
          = user.follower_relationships.count
      .following-box
        %p
          フォロー
          = user.following_relationships.count
    .account-introduction-box
      = user.introduction
