%table.list-box
  %tr.list-title
    %th 画像
    %th タイトル
    - if current_page?(todo_tasks_path)
      %th 締め切り日
    - else 
      %th 読了日
  - tasks.each do |task|
    %tr.book-list
      %td
        = image_tag task.has_image? ,class: 'list-image'
      %td.book-title
        = task.title
      %td.book-date
        - if current_page?(todo_tasks_path)
          .book-completed_at
            = l task.completed_at, format: :long
        - else
          .book-end_date
            = l task.end_date, format: :long
      %td
        = link_to done_path(id: task.id), data: { method: 'post'}, class: "#{add_hidden_class(finish_tasks_path)} task-finish-btn" do
          .finish-box
            %i.far.fa-check-square
            %span
            完了
        = link_to task_outputs_path(task_id: task.id), class:"#{add_hidden_class(todo_tasks_path)} task-finish-btn", data: {'turbolinks' => false} do
          .finish-box
            %i.fas.fa-pencil-alt
            %span
            学び
      %td
        .edit-icon-box.dropdown
          %i.fas.fa-ellipsis-h.edit-icon
          .dropdown-box.hidden
            .d-menu-box
              .d-menu
                = link_to '編集', edit_task_path(id: task.id)
              .d-menu
                = link_to '削除', task_path(id: task.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？'}, class: 'red'

