%table.list-box
  %tr.list-title
    %th image
    %th タイトル
    %th 締め切り日
  - tasks.each do |task|
    %tr.book-list
      %td
        = image_tag task.has_image? ,class: 'list-image'
      %td.book-title
        = task.title
      %td
        = l task.completed_at, format: :long
      %td
        .finish-box
          = link_to '完了', done_path(id: task.id), data: { method: 'post'}, class: "#{add_hidden_class(finish_tasks_path)}"
          = link_to '学び', task_outputs_path(task_id: task.id), class:"#{add_hidden_class(root_path)}"
      %td
        .edit-icon-box.dropdown
          %i.fas.fa-ellipsis-h.edit-icon
          .dropdown-box
            .d-menu-box
              .d-menu
                = link_to '編集', edit_task_path(id: task.id)
              .d-menu
                = link_to '削除', task_path(id: task.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？'}

