.form-outline-box
  %h2.form-title  ログイン
  - if alert
    %ul.message-ul
      %li.message-li
        = alert
        .clear-icon-box.hidden
          %i.fas.fa-times
  .form-box
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email, 'メールアドレス(必須)'
        %br/
        = f.email_field :email, autocomplete: "email",class: 'text'
      .field
        = f.label :password, 'パスワード(必須)'
        %br/
        = f.password_field :password, autocomplete: "new-password", type: 'password',class: 'text'  
      .actions
        = f.submit "ログイン",class: 'btn btn-light my-btn'
  = link_to 'ゲストユーザーとしてログイン(閲覧用)', users_guest_sign_in_path, data: {method: 'post'}, class: 'registration-link'
  = link_to 'ユーザー登録はこちら', new_user_registration_path, class: 'registration-link'
= javascript_pack_tag 'form'